
<section class="main">
  <h1 class="">To Do List</h1>
  <div class="todo-container">
    <div class="input-section">
  
      <div class="form-group">
        <input class="input" [(ngModel)]="toDoItem.task" type="text" placeholder="Enter Title " />
        <label>Title</label>
      </div>
      
      <div class="form-group">
        <input class="input" [(ngModel)]="toDoItem.description" type="text" placeholder="Enter Description " />
        <label>Description</label>
      </div>
      

      <button (click)="addTask()" class="btn">Add</button>
    </div>
    <div class="list-section">

     
      <div *ngFor="let item of todoList" class="task-details-card">

        <div class="task"> {{item?.task}} </div>
        <div class="desctiption"> {{item?.description}} </div>
        <div [ngClass]="{
          'status-pending' : item.status ===false,
          'status-completed' : item.status===true
        }" > {{item?.status===true ? 'Completed' : 'Pending'}}
        
        <span (click)="deleteItem(item.id)" class="delete"><i class="fas fa-trash"></i><mat-icon>delete</mat-icon> </span>
        <input type="checkbox" name="status" id="status" [checked]="item.status" (change)="toggleStatus(item.id)" class="status-checkbox"  >
      </div>

      </div>

    </div>
  </div>
</section>

<!-- <app-grid></app-grid> -->
<router-outlet />
